@using ClinicalDAL.EF;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Index";
}


@*<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/style.css">*@

<div class="container">
    <div class="img" style="  background-image: url(https://www.sdglobaltech.com/wp-content/uploads/2017/01/The-Must-Have-modules-of-a-Hospital-Management-System-1200x675.jpg);
        width: 1080px;
        height: 700px;
        opacity: 0.60">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end">
                <div class="col-md-6 ftco-animate">
                    <div class="text w-100" style="margin-top:100px">

                        @if (Session["Myrole"] != null)
                        {
                            <h1 class="mb-4" style="color:black">Welcome to Medicure, @Session["Myname"]! </h1>
                           // <p style="color:black">If You are new here, Please Register and avail the facilities of our website.</p>
                            
                        }
                        else
                        {

                            <h1 class="mb-4" style="color:black">Welcome to Medicure</h1>
                            <p style="color:black">If You are new here, Please Register and avail the facilities of our website.</p>
                            <button class="btn btn-primary" type="button" style="margin-top:10px">@Html.ActionLink("Register Here!", "Register", "ManageUsers", "/ManageUsers/Register", new { id = "btnLogin", style = "color: white" })</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="align-items-center justify-content-end">
    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
        <div class="align-items-center justify-content-end">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="wrap-appointment d-md-flex">
                            <div class="col-md-4 bg-white text-center p-5">
                                <div class="desc border-bottom pb-4">
                                    <h2>Business Hours</h2>
                                    <div class="opening-hours">
                                        <h4>Opening Days:</h4>
                                        <p class="pl-3">
                                            <span><strong>Monday – Friday:</strong> 9am to 20 pm</span>
                                            <span><strong>Saturday :</strong> 9am to 17 pm</span>
                                        </p>
                                        <h4>Vacations:</h4>
                                        <p class="pl-3">
                                            <span>All Sunday Days</span>
                                            <span>All Official Holidays</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="desc pt-4 ">
                                    <h3 class="heading">For Emergency Cases</h3>
                                    <span class="phone">(+01) 123 456 7890</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Speciality of our Doctors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-chiropractic"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Cardiologist</h3>
                        <p>We deal with the disorders of the heart as well as some parts of the Circulatory System.</p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-acupuncture"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Dentist</h3>
                        <p>We study, diagnos, prevent, and treat diseases, disorders, and conditions of the Oral Cavity.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-electrotherapy"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">ENT Specialist</h3>
                        <p>We deal with the surgical and medical management of conditions of the head and neck.</p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-examination"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Gynaecologist</h3>
                        <p>We deal with the health of the female reproductive system (vagina, uterus, and ovaries).</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-lymph-nodes"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Radiologist</h3>
                        <p>We diagnose and treat diseases within the bodies of animals, including humans.</p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-bone"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Neurologist</h3>
                        <p>We diagnos and treat of all categories of conditions and disease involving the central and peripheral nervous systems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex order-md-last">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="        background-image: url(../images/about.jpg);">
                    <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="fa fa-play"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 pr-md-5 py-md-5">
                <div class="row justify-content-start py-5">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Welcome to Medicure</span>
                        <h2 class="mb-4">About Medicure</h2>
                        <p></p>
                    </div>
                </div>
                <div class="row ftco-counter pb-5" id="section-counter">
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="45">0</strong>
                            </div>
                            <div class="text">
                                <span>Years of <br>Experienced</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="2342">0</strong>
                            </div>
                            <div class="text">
                                <span>Happy <br>Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="30">0</strong>
                            </div>
                            <div class="text">
                                <span>Award <br>Winning</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section testimony-section bg-dark">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
                    <span class="subheading">Testimonies</span>
                    <h2>Happy Clients &amp; Feedbacks</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                                <div class="text">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                                <div class="text">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                                <div class="text">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                                <div class="text">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                                <div class="text">
                                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                        <div class="pl-3">
                                            <p class="name">Roger Scott</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</section>




<p>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;
    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>


<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/jquery.timepicker.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>


